
#Ignore vscode AI rules
.github/instructions/codacy.instructions.md
.codacy/
.claude/

# Composer
/vendor/
composer.lock

# Node/NPM
node_modules/
package-lock.json
assets/pds-design-tokens/
assets/pds/
assets/images/

# Build artifacts
*.css.map

# WordPress
wp-config-local.php
.htaccess

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db

# Testing
/tests/tmp/
/tests/data/
/bin/helpers.sh
/bin/install-local-tests.sh
/bin/install-wp-tests.sh
/bin/phpunit-test.sh