/**
 * Utilities - Display
 * Display and layout utility classes
 */

.ash-nazg-inline-block {
	display: inline-block;
}

.ash-nazg-hidden {
	display: none;
}

.ash-nazg-flex {
	display: flex;
}

.ash-nazg-flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
