/**
 * Components - Addon Toggles
 * Toggle switch styling for addon management
 */

@use '../variables' as *;

.addon-toggle-wrapper {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: $spacing-sm;
}

.addon-toggle {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 26px;
	margin: 0;
	cursor: pointer;

	input[type="checkbox"] {
		opacity: 0;
		width: 0;
		height: 0;
		position: absolute;

		&:checked + .addon-toggle-slider {
			background-color: $color-wp-blue;

			&:before {
				transform: translateX(24px);
			}
		}

		&:focus + .addon-toggle-slider {
			box-shadow: 0 0 0 3px rgba(34, 113, 177, 0.2);
			outline: 2px solid transparent;
			outline-offset: 2px;
		}

		&:disabled + .addon-toggle-slider {
			opacity: 0.5;
			cursor: not-allowed;
		}
	}

	&:hover input[type="checkbox"]:not(:disabled) + .addon-toggle-slider {
		background-color: #6c7781;
	}

	&:hover input[type="checkbox"]:checked:not(:disabled) + .addon-toggle-slider {
		background-color: $color-wp-blue-dark;
	}

	&:focus-within .addon-toggle-slider {
		box-shadow: 0 0 0 3px rgba(34, 113, 177, 0.2);
	}
}

.addon-toggle-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #8c8f94;
	transition: $transition-normal;
	border-radius: 13px;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);

	&:before {
		position: absolute;
		content: "";
		height: 20px;
		width: 20px;
		left: 3px;
		bottom: 3px;
		background-color: white;
		transition: $transition-normal;
		border-radius: $border-radius-full;
		box-shadow: $shadow-medium;
	}
}

.addon-status {
	font-size: $font-size-normal;
	font-weight: 500;
	color: #50575e;
	min-width: 60px;
}
